volumes:
  stunnel_conf:

services:
  stunnel:
    build:
      context: .
      dockerfile: stunnel.Dockerfile
    env_file:
      - .env
    volumes:
      - ./stunnel.conf:/etc/stunnel/stunnel.conf:ro
      - ./cert:/etc/stunnel/certs:ro

  stunnel-manager:
    build:
      context: .
      dockerfile: stunnel-manager.Dockerfile
    environment:
      - STUNNEL_CONF_PATH=/etc/stunnel/stunnel.conf
    env_file:
      - .env
    volumes:
      - stunnel_conf:/etc/stunnel
